//fuentes
$fuentePrincipal: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 //media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//colores
$primario: #df4956;
$secundario: #f8f9fa;
$secundarioFuerte: #6c757d;

$border: #d1d2d3;
$borderSecundario: #e3e3e3;

$blanco: #FFF;
$negro: #000;